# development
.ipynb_checkpoints
__pycache__
pulse-venv
*.code-workspace
.DS_Store
.vscode
venv

# generated outputs (but not assets/)
plots/
animations/
*.pdf
*.mp4

# artifacts from pip install
*.egg-info
build
