# development
.ipynb_checkpoints
__pycache__
pulse-venv
*.code-workspace
.DS_Store
*.pdf
*.mp4
*.png
.vscode
venv

# artifacts from pip install
*.egg-info
build

# artifacts from sphinx build
docs/_build
docs/*.rst
examples_for_ci.py
examples_output
replace_placeholders_in_md.py