name: Testing
on: [push]

jobs:
  example_tests:
    name: Example tests
    runs-on: ubuntu-latest
    container: python:3.10
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Print job info
        run: |
          echo "The job was automatically triggered by a ${{ github.event_name }} event."
          echo "The name of your branch is ${{ github.ref }} and your repository is ${{ github.repository }}."
          echo "The ${{ github.repository }} repository has been cloned to the runner."
      - name: Install package
        run: pip install .
      - name: Install system dependencies
        run: apt update && apt install -y ffmpeg
      - name: Run example tests
        run: for f in examples/*.py; do python "$f"; done
